mixin chat(name, message, avatar, time)
  a(href="chat.html").chat.d-flex.align-items-center.shadow.text-decoration-none.mt-3.px-3
    img(src=avatar alt=name).square-50.rounded-circle
    span.flex-grow-1.p-4.overflow-hidden
      span.d-flex.justify-content-between
        span.chat-name.text-dark.font-weight-bold.font-size-3=name
        small.text-secondary=time
      small.chat-description.text-truncate.text-secondary.d-block=message