mixin nav-link(id, link, title, iconId, selected)
  a(
    id=id
    class="nav-link text-light py-2 px-4 px-lg-3 " + (attributes.class || ""),
    href="#" + link
    data-toggle="tab"
    role="tab"
    aria-controls=link
    aria-selected=selected)
    +icon(iconId)(class="nav-link-icon fill-light")
    =title
